.navbar {
    background-color: #f4a62a;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.navbar ul li {
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: #222;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    padding: 5px 0;
}

/* Hover underline animation */
.navbar a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: white;
    transition: 0.3s;
    margin-top: 5px;
}

.navbar a:hover {
    color: white;
}

.navbar a:hover::after {
    width: 100%;
}

/* Dropdown */
.dropdown-menu {
    position: absolute;
    top: 35px;
    left: 0;
    background: white;
    list-style: none;
    width: 160px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.3s ease;
}

.dropdown-menu li {
    padding: 10px 15px;
}

.dropdown-menu li:hover {
    background-color: #f4a62a;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
