html, body {
    height: 100%;
    margin: 0;
}

body {
    display: block;
    flex-direction: column;
    justify-content: flex-start; /* 👈 sửa lại */
}

.content {
    flex: 1;
}

.product-container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}
/*-----PRODUCT-DETAIL-----*/
.product-detail{
    display:flex;
    gap:40px;
    background:white;
    padding:30px;
    justify-content: center;
    width: 100%;
}

/*-----PRODUCT-GALLERY-----*/
.product-gallery {
    width: 50%;
}

#main-image {
    width: 90%;
}

.thumb-list {
    display:flex;
}

.thumb-list img {
    width: 30%;
    border: 2px solid orange;
    margin: 0px 5px;
    cursor: pointer;
}

.thumb-list img:hover {
    border: 2px solid black;
    transition: border 0.3s ease;
}

/*-----PRODUCT-INFO-----*/
.price {
    color: red;
}

.line {
    content:"";
    width: 100%;
    border-bottom: 1px solid orange;
    margin-bottom: 20px;
}

.title-size, .title-count {
    font-weight: bold;
    font-size: 18px;
}

.size, .count{
    width:200px;
    padding:8px;
    margin-top:5px;
    margin-bottom:10px;
    border: 1px solid orange;
}

.btn-group {
    display: flex;
    width: 100%;
}

.add-cart {
    height: 50px;
    width: 100px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: orange; 
    border: none;
    font-size: 20px; 
    cursor: pointer;
}

.add-cart:hover {
    background-color: black;
    color: white;
    transition: all 0.3s ease;   
}

.buy {
    height: 50px;
    width: 150px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: orange; 
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.buy:hover {
    background-color: black;
    color: white;
    transition: all 0.3s ease;
}

/*-----PRODUCT-DESCRIPTION-----*/
.description {
    margin-top: 100px;
    max-width: 1100px;   
    width: 100%;
    margin: auto;
    padding: 20px;
}

/*-----OTHER-PRODUCTS-----*/
.other-products {
    margin-top: 100px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 30px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.product-item {
    text-align: center;
}

.product-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-item h3 {
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0 5px;
}

.price {
    color: red;
    font-weight: bold;
}

/*-----RESPONSIVE-----*/
@media(max-width: 768px) {
    .product-detail {
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }

    .product-gallery {
        width: 100%;
    }

    .product-info {
        width: 100%;
    }

    .main-image {
        width: 100%;
    }

    .thumb-list {
        justify-content: center;
    }

    .thumb-list img {
        width: 70px;
    }

    .btn-group {
        display: flex;
    }

    .line {
        width: 100%;
    }

    .description{
        padding: 15px;
    }

    .description p{
        font-size: 14px;
    }

    .product-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }

    .other-products {
        margin-top: 50px;
        padding: 15px;
        padding-bottom: 0;
    }

    .product-item {
        border-right: 1px solid orange;
        border-bottom: 1px solid orange;
    }

}



