html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    margin: 0 auto;
    flex: 1;
    width: 400px;
}

/*-----Sign In-----*/
h2 {
    text-align: center;
    margin-top: 50px;
}

.form-signUp {
    display: flex;
    flex-direction: column;
    padding: 10px;  
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.input-group{
    display: flex;
    align-items: center;
    border: 1px solid orange;
    padding: 10px;
    margin: 10px 0;
}

.input-group i{
    margin-right: 10px;
    font-size: 18px;
}

.input-group input{
    border: none;
    outline :none;
    flex: 1;
}

.have-user {
    display: flex;
}

.have-user a {
    color: black;
    margin-right: 15px;
}

.btn-SignUp {
    border: 1px solid black;
    color: white;
    background-color: black;
    font-weight: bold;
    width: 50%;
    text-align: center;
    padding: 10px 0;
    margin: 15px auto;
    cursor: pointer;
}

.btn-SignUp:hover {
    color: orange;
    transition: color 0.3s ease;
}




